<nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a class="navbar-brand text-brand" href="{{path('app_home')}}">SAFER<span class="color-b"></span></a>

      <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
        <ul class="navbar-nav">

          <li class="nav-item">
            {% if current_menu is defined and current_menu == 'home' %}
            <a class="nav-link " href="{{path('app_home')}}"> Home </a> {%endif%} 
          </li>

          <li class="nav-item">
            <a class="nav-link " href="">A propos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="{{path('app_property')}}">Propriétés</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="{{path('statistique')}}">Statistiques</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="{{path('contact')}}">Contact</a>
          </li>
        </ul>
      </div>

    
        <i class="bi bi-search"></i>
         <a class="nav-link " href="{{path('FormMulti')}}">  Recherche</a>
      </button>

    </div>
  </nav>
