<div class="intro intro-carousel swiper position-relative">

    <div class="swiper-wrapper">
 
    {% for property in properties %}
    
    {%if property.prix == 1300 %}
      <div class="swiper-slide carousel-item-a intro-item bg-image" style
      ="background-image: url(assets/img/SAFER/48RE11201.jpg)">
     
      {%elseif property.prix == 52000 %}
      
      <div class="swiper-slide carousel-item-a intro-item bg-image" style
      ="background-image: url(assets/img/SAFER/5667DB.jpg)">
{%else%} 

      <div class="swiper-slide carousel-item-a intro-item bg-image" style
      ="background-image: url(assets/img/SAFER/3320.jpg)">
{%endif%}
            <div class="overlay overlay-a"></div>
                <div class="intro-content display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="intro-body">
                                    <p class="intro-title-top"> 
                                    <br/> <br/>{{property.ville}}
                                    <br> {{property.CodePostal}}
                                    </p>
                                    <h1 class="intro-title mb-4 ">
                                        <span class="color-b">
                                        {{property.id}} </span>
                                         {{property.CategorieType}}
                                        <br> {{property.titre}}
                                    </h1>
                                    <p class="intro-subtitle intro-price">
                                        <a href="#"><span class="price-a">
                                     {{property.StatusType}} | {{property.formattedPrix}} €</span></a>
                                    </p>
                                    
                                    </br>
                                    
                                     <div class="border border-dark rounded p-2 clearfix">
                                      <a href="{{path("favoris_add", {id: property.id})}}" class="btn btn-success">
                                    <i class="bi bi-heart"></i> Ajouter aux favoris
                                        </a>
                                        </div>
                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}    
    </div>
    <div class="swiper-pagination"></div>
  </div>
  
                    
